body
{
    background-color:rgb(243, 156, 156);
}

h1
{
    color: plum;
    background-color:rgb(116, 216, 255) ;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 5px solid  rgb(116, 216, 255);
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
    
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px rgb(116, 216, 255);}
}

p
{
    padding-top: 2px;
    font-size: 20px;
}